<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Logs do Sistema</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/tabelaTransacoes.css/">
</head>
<body>
    <header>
        <a th:href="@{/dashboard}"><img src="/img/home.png/" alt="home" class="header-logo"></a>
        Página do Administrador
    </header>

    <div class="container">
        <h2>Logs do Sistema</h2>

        <table>
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Usuário do Sistema</th>
                    <th>Descrição da Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-03-09 10:55 (GMT-3)</td>
                    <td>admin (usuario_admin)</td>
                    <td>Deletou o produto 'Um Pequeno Príncipe'</td>
                </tr>
                <tr>
                    <td>2025-02-21 14:35 (GMT-3)</td>
                    <td>cliente 'João Silva'</td>
                    <td>Realizou uma compra de 'Os Elementos de Euclides' (1 unidade)</td>
                </tr>
                <tr>
                    <td>2025-02-20 10:15 (GMT-3)</td>
                    <td>cliente 'Maria Souza'</td>
                    <td>Comprou 'Um Pequeno Príncipe' (2 unidades)</td>
                </tr>
                <tr>
                    <td>2025-02-19 08:50 (GMT-3)</td>
                    <td>admin (usuario_admin)</td>
                    <td>Atualizou preço do livro 'Diário de um Banana 3' para R$ 120,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
