<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Logs do Sistema</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/tabelaTransacoes.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
</head>
<body>
    <div class="container">
        <h2>Logs do Sistema</h2>

        <table>
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Usuário do Sistema</th>
                    <th>Descrição da Ação</th>
                    <!--vou definir outra modelagem-->
                </tr>
            </thead>
            <tbody id="logs-tbody">
                <!-- Os logs serão inseridos aqui dinamicamente -->
            </tbody>
        </table>
    </div>
    <script src = "/js/admin/logs.js/"></script>
    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
        </script>
</body>
</html>
