<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/formulario.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
</head>
<body>
    <div class="container">
        <form id="alterarSenhaForm">
            <h2>Alterar Senha de <span id="clienteNome">Cliente</span></h2>
            <h3>Trocar Senha</h3>
            <label>Senha Atual:</label>
            <div class="password-container">
                <input type="password" id="senhaAtual" required>
                <span class="toggle-password" onclick="togglePassword('senhaAtual', this)">
                    <img src="/img/olhoaberto.png/" alt="Mostrar senha">
                </span>
            </div>

            <label>Nova Senha:</label>
            <div class="password-container">
                <input type="password" id="senha" required>
                <span class="toggle-password" onclick="togglePassword('senha', this)">
                    <img src="/img/olhoaberto.png/" alt="Mostrar senha">
                </span>
            </div>
            <p id="senha-feedback" style="color: red; font-size: 14px;"></p>

            <label>Confirmar Nova Senha:</label>
            <div class="password-container">
                <input type="password" id="confirmarSenha" required>
                <span class="toggle-password" onclick="togglePassword('confirmarSenha', this)">
                    <img src="/img/olhoaberto.png/" alt="Mostrar senha">
                </span>
            </div>
            <button type="submit">Alterar Senha</button>
            <div class="botaoCancelar"><button type="submit" onclick="cancelarAlteracaoSenha()">Cancelar</button></div>
        </form>
    </div>
    <!-- Modal de erro -->
    <div id="senhaModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalSenha()">&times;</span>
            <h2>Erro!</h2>
            <p>As senhas não coincidem. Tente novamente.</p>
            <button onclick="fecharModalSenha()">OK</button>
        </div>
    </div>
    <script src="/js/admin/gerenciar-clientes/validarCadastro.js/"></script>
    <script src="/js/admin/gerenciar-clientes/alterarSenha.js">
    </script>
    
    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
        </script>

</body>
</html>
