<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../icon.png">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="../css/menuAdmin.css">
    <link rel="stylesheet" href="../css/formulario.css">
</head>
<body>
	<header>
			<a th:href="@{/administrador/admin}"><img src="/img//home.png" alt="home" class="header-logo"></a>
			Página do Administrador
	</header>
    <div class="container">
        <h2>Edição do Cadastro do Cliente</h2>
        <form id="cadastroClienteForm">
            <h3>Dados Pessoais</h3>
            <label>Nome Completo:</label>
            <input type="text" required>

            <label>Data de Nascimento:</label>
            <input type="date" required>

            <label>CPF:</label>
            <input type="text" required placeholder="000.000.000-00">

            <label>Gênero:</label>
            <select required>
                <option value="">Selecione</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
                <option value="nao_informar">Prefiro não informar</option>
            </select>

            <h3>Contato</h3>
            <label>Tipo de Telefone:</label>
            <select required>
                <option value="">Selecione</option>
                <option value="celular">Celular</option>
                <option value="residencial">Residencial</option>
                <option value="comercial">Comercial</option>
            </select>

            <label>DDD:</label>
            <input type="text" required placeholder="Ex: 11">

            <label>Número:</label>
            <input type="text" required placeholder="Ex: 99999-9999">

            <label>Email:</label>
            <input type="email" required>

            <button type="submit">Salvar Alterações</button>
            <div class="botaoCancelar"><button type="submit" onclick="cancelarEdicao()">Cancelar</button></div>
        </form>
    </div>
    </div>
    <script>
        function cancelarEdicao() {
            if (confirm("Tem certeza que deseja cancelar? As alterações não serão salvas.")) {
                window.history.back(); // Volta para a página anterior
            }
        }
    </script>

</body>
</html>
