<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/formulario.css/">
</head>
<body>
	<header>
			<a th:href="@{/administrador/admin}"><img src="/img/home.png/" alt="home" class="header-logo"></a>
			Página do Administrador
	</header>
    <div class="container">
        <h2>Edição do Cadastro do Cliente</h2>
        <form id="edicaoClienteForm">
            <h3>Dados Pessoais</h3>
            <label>Nome Completo:</label>
            <input type="text" id="nome" required>

            <label>Data de Nascimento:</label>
            <input type="date" id="dataNascimento" required>

            <label>CPF:</label>
            <input type="text" id="cpf" required placeholder="000.000.000-00">

            <label>Gênero:</label>
            <select id="genero" required>
                <option value="">Selecione</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
                <option value="nao_informar">Prefiro não informar</option>
            </select>

            <h3>Contato</h3>

            <label>Número de Telefone:</label>
            <input type="text" id="telefone" required placeholder="Ex: 99999-9999">

            <label>Email:</label>
            <input type="email" id="email" required>

            <button type="submit">Salvar Alterações</button>
            <div class="botaoCancelar"><button type="submit" onclick="cancelarEdicao()">Cancelar</button></div>
        </form>
    </div>
    </div>
    <script src="/js/admin/gerenciar-clientes/validarCadastro.js"></script>
    <script src="/js/admin/gerenciar-clientes/editarCliente.js"></script>

</body>
</html>
