<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Listagem de Endereços</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/listarEndereco.css/">
</head>
<body>
	<header>
			<a th:href="@{/dashboard}"><img src="/img/home.png/" alt="home" class="header-logo"></a>
			Página do Administrador
	</header>
    <a id="cadastrarEndereco"><button class="new-client">Cadastrar Novo Endereço</button></a>
    <a th:href ="@{/gerenciar-clientes}"><button class="botao-return">Voltar</button></a>
    <div class="container">
        <h2>Gerenciamento de Endereços de 'João Silva'</h2>

        <script src="/js/admin/gerenciar-clientes/listarEndereco.js/"></script>

        <div class="client-list"></div>
    </div>
</body>
</html>
