<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../icon.png">
    <title>Listagem de Endereços</title>
    <link rel="stylesheet" href="../css/menuAdmin.css">
    <style>
        .new-client{
            background-color: rgb(0, 85, 255);
        }
        .client-item {
            background-color: rgba(175, 243, 255, 0.383);
        }
        /*.client-name {
            color: #003eb0;
        }
        .client-details {
            color: #003eb0;
        }*/
        .client-actions button {
            background-color: rgba(175, 243, 255, 0.383);
        }

    </style>
</head>
<body>
	<header>
			<a th:href="@{/administrador/admin}"><img src="/img//home.png" alt="home" class="header-logo"></a>
			Página do Administrador
	</header>
    <a id="cadastrarEndereco"><button class="new-client">Cadastrar Novo Endereço</button></a>
    <a th:href ="@{/administrador/gerenciar-clientes/gerenciarClientes}"><button class="botao-return">Voltar</button></a>
    <div class="container">
        <h2>Gerenciamento de Endereços de 'João Silva'</h2>

        <script src="js/listarEndereco.js"></script>

        <div class="client-list"></div>
    </div>
</body>
</html>
