<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img//icon.png">
    <title>Transações dos Clientes</title>
    <link rel="stylesheet" href="../css/menuAdmin.css">
    <link rel="stylesheet" href="../css/tabelaTransacoes.css">
</head>
<body>
    <header>
        <a th:href="@{/administrador/admin}"><img src="/img//home.png" alt="home" class="header-logo"></a>
        Página do Administrador
    </header>
    <a th:href="@{/administrador/gerenciar-clientes/gerenciarClientes}"><button class="botao-return">Voltar</button></a>

    <div class="container">
        <h2>Transações de <span id="clienteNome"></span></h2>

        <table>
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Tipo de Operação</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Forma de Pagamento</th>
                </tr>
            </thead>
            <tbody id="transacoesBody">
                <!-- Os dados serão carregados aqui via AJAX -->
            </tbody>
        </table>        
    </div>

    <script src="js/transacoes.js"></script>
</body>
</html>
