<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Pagamento</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/comprar.css/">
    <link rel="stylesheet" href="/css/cliente/conta.css/">
    <script th:inline="javascript">
        var clienteId = /*[[${clienteId}]]*/ null;
    </script>   
    <script src="/js/cliente/verificarCliente.js/"></script>
    <script src="/js/cliente/pagamento/comprarDoCarrinho.js/" defer></script>
</head>
<body>
    <header style="display: flex; justify-content: center;">
      <img src="/img/logo.png/" style="height: 30px; margin-top: 0.5%; margin-bottom: 0.5%;">
    </header>
    <main>
        <h1>Pagamento</h1>

        <div class="cart-container">
            <!-- Livro será carregado aqui via JS -->
        </div>

        <div class="cart-summary">
            <label>Selecione o Endereço de Entrega</label>
            <select id="endereco" required>
                <option value="">Selecione</option>
                <!-- os endereços serão carregados aqui via JS -->
            </select>
            <button type="button" class="adicionar-btn" onclick="window.location.href = '/cliente/pagamento/novoEndereco'">Adicionar novo Endereço</button>

            <label>Selecione a Forma de Pagamento</label>
            <div id="cartoes-container">
                <!-- os carttões serão carregados aqui via JS -->
            </div>
            </br>
            <button type="button" class="adicionar-btn" onclick="window.location.href = '/cliente/pagamento/novoCartao'">Adicionar novo cartão</button>
            
        </div>

        <div class="cart-summary">
            <!-- extrato gerado automaticamente aqui -->
        </div>

        <!-- Modal de Cupons -->
        <div id="couponModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('couponModal')">&times;</span>
                <h2>Selecione um Cupom</h2>
                <select id="cupomSelect">
                    <option value="20">Cupom de R$ 20</option>
                    <option value="50">Cupom de R$ 50</option>
                </select>
                </br></br>
                <button onclick="aplicarCupom()">Aplicar</button>
            </div>
        </div>
        
        <!-- Modal de Pedido Criado -->
        <div id="pedidoModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="window.location.href = '/cliente/conta'">&times;</span>
                <h2>Pedido Realizado!</h2>
                <p id="pedidoCodigoTexto"></p>
                <p id="pedidoCodigoBold" class="codigo-pedido"></p>
                <br>
                <button onclick="window.location.href = '/cliente/conta'">Ir para Minha Conta</button>
            </div>
        </div>
</body>
</html>
