<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Cadastrar Cartão</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/formulario.css/">
    <link rel="stylesheet" href="/css/cliente/header-pagamento.css/">
    <script src="/js/cliente/pagamento/novoCartao.js/"></script>
</head>
<body>
    <header style="display: flex; justify-content: center;">
        <img src="/img/logo.png/" style="height: 30px; margin-top: 0.5%; margin-bottom: 0.5%;">
    </header>
    </br>
    <div class="container">
        <h2 id="tituloCadastro">Cadastrar Cartão para </h2>
        <form id="cadastroCartaoForm">
            <h3>Cadastro de Cartão</h3>

            <label>Número do Cartão:</label>
            <input type="text" id="numeroCartao" required>

            <label>Nome Impresso:</label>
            <input type="text" id="nomeImpresso" required>

            <label>Bandeira:</label>
            <select id="bandeira" required>
                <option value="">Carregando...</option>
            </select>

            <label>Código de segurança:</label>
            <input type="text" id="codigoSeguranca" required>

            <label>Tornar esse cartão preferencial?</label>
            <select id="preferencial" required>
                <option value="">Selecione</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>

            <button type="submit">Cadastrar Cartão</button>
            <div class="botaoCancelar"><button type="button" onclick="cancelarCadastro()">Cancelar</button></div>
        </form>
    </div>
    
</body>
</html>
