body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    padding: 20px;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    gap: 15px;
    padding: 15px 0;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity button {
    background-color: #000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; /* Deixa os botões arredondados */
}

.quantity span {
    margin: 0 10px;
}

.remove {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-summary {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.checkout-btn {
    background-color: green;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}
