
.container {
    display: flex;
    width: 95%;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.menu {
    width: 250px;
    background: #010012;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.menu button:hover {
    background: #22213e;
}

.conteudo {
    flex: 1;
    padding: 20px;
}

.secao {
    display: none;
}

.secao.ativa {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #4a4863;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #010012;
    color:white;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.conteudo button:not(.status-btn) {
    background-color: #010012;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    display: block; /* Garante que os botões fiquem um abaixo do outro */
    margin-bottom: 10px; /* Adiciona espaçamento apenas entre os botões */
}

.conteudo button:not(.status-btn):hover {
    background: #22213e;
}

.modal {
    display: none; /* Agora começa invisível */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Conteúdo do Modal */
.modal-content {
    max-height: 70vh; /* Define a altura máxima como 70% da tela */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical quando necessário */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left; /* Alinhamento à esquerda */
}

.modal-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.modal-content::-webkit-scrollbar-thumb {
    background: #000222;
    border-radius: 20px;
}
.modal-content::-webkit-scrollbar-track {
    background: #00022225;
}

.modal-content button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Garante que os botões fiquem um abaixo do outro */
    margin-bottom: 10px; /* Adiciona espaçamento apenas entre os botões */
}

.modal-content button:hover {
    transition: 0.2s;
    background-color: #1a1a1a;
}

/* Botão de Fechar */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.accordion {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #ddd;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    border-left: 2px solid #ddd;
    margin-bottom: 10px;
}

/* Estilização dos inputs */
.formulario input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 40px; /* Mantém todos com a mesma altura */
    box-sizing: border-box;
}

/* Ajustando textarea */
textarea {
    resize: none;
    height: 60px;
}

/* Efeito ao focar nos campos */
input:focus, select:focus, textarea:focus {
    border-color: #1e1e2f;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 30, 47, 0.3);
}

.form-group input,
.form-group select {
    width: 100%;
    height: 40px; /* Mantém todos com a mesma altura */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que padding aumente o tamanho total */
}

.status-btn {
    all: unset;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.status-cell{
    min-width: 160px;
}
.processando { background-color: rgb(196, 101, 0); color: white; }
.transito { background-color: rgb(33, 24, 212); color: white; }
.entregue { background-color: rgb(0, 159, 0); color: white; }
.troca { background-color: #5900ff; color: white; }
.aprovado { background-color: rgb(11, 184, 115); color: white; }
.reprovado { background-color: rgb(211, 0, 0); color: white; }