<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../icon.png">
    <title>Página do Administrador</title>
    <link rel="stylesheet" href="css/initialMenu.css">
</head>
<body>
    <header>Página do Administrador</header>
    <div class="buttons">
        <a th:href="@{/administrador/gerenciar-clientes/gerenciarClientes}"><button>Gerenciar Clientes</button></a>
        <a th:href="@{/administrador/gerenciamento-vendas/gerenciarVendas}"><button>Gerenciamento de Vendas Eletrônicas</button></a>
        <a th:href="@{/administrador/controle-estoque/gerenciarEstoque}"><button>Controle de Estoque</button></a>
        <a th:href="@{/administrador/analise-livros/analise}"><button>Análise dos Produtos</button></a>
        <a th:href="@{/administrador/logs/logs}"><button>Logs do sistema</button></a>
        <div class="voltar">
            <a th:href="@{/}"><button>Voltar</button></a>
        </div>

    </div>
</body>
</html>
