<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Anúncio</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/chatbot.css/">
    <link rel="stylesheet" href="/css/cliente/anuncio.css/">
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js" defer></script>
    <script src="/js/marked.min.js/"></script>
</head>
<body>
    <script src="/js/cliente/header.js/"></script>

    <div class="anuncio-container">
        <div class="produto-container">
            <div class="imagem-produto">
                <img id="livro-imagem" src="" alt="Capa do livro">
            </div>
            <div class="detalhes-produto">
                <h6 id="estoque">... unidades em Estoque</h6>
                <h1 id="livro-nome">Carregando...</h1>
                <div class="preco" id="livro-preco">R$ --,--</div>

                <div class="acoes-produto">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" value="1" min="1" max="12">

                    <button class="btn-comprar" type="button" onclick="comprarLivro()">Comprar</button>

                    <form th:action="@{/carrinho}" method="get">
                        <button class="btn-carrinho" type="button" onclick="adicionarAoCarrinho()">Adicionar ao Carrinho</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="detalhes-produto-adicionais">
            <div class="sinopse">
                <h2>Sinopse</h2>
                <p id="livro-sinopse">Carregando sinopse...</p>
            </div>
            <div class="detalhes-adicionais" id="livro-detalhes">
                <div class="detalhes-texto">
                    <p><strong>Autor:</strong> --</p>
                    <p><strong>Editora:</strong> --</p>
                    <p><strong>Fornecedor:</strong> --</p>
                    <p><strong>Ano de Publicação:</strong> --</p>
                    <p><strong>Edição:</strong> --</p>
                    <p><strong>ISBN:</strong> --</p>
                    <p><strong>Número de Páginas:</strong> --</p>
                    <p><strong>Categoria:</strong> --</p>
                </div>
                <div class="codigo-barras-container">
                    <svg id="barcode"></svg>
                </div>      
            </div> 
        </div>
    </div>

    <script src="/js/cliente/anuncio.js/"></script>

    <script src="/js/cliente/chatbot.js/"></script>
</body>
</html>
