<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Livraria</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/buscar.css/">
    <link rel="stylesheet" href="/css/cliente/chatbot.css/">
    <script src="/js/marked.min.js/"></script>
</head>
<body>
    <script src="/js/cliente/header.js/"></script>
    
    <div class="text-container">
        <h2>Resultados de Busca para "..."</h2>
    </div>

    <section class="product-list" id="product-list">
        <!-- Os livros serão carregados aqui dinamicamente -->
    </section>
    
    <script src="/js/cliente/buscar.js/"></script>

    <script src="/js/cliente/chatbot.js/"></script>

</body>
</html>
