<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/carrinho.css/">
    <script src="/js/cliente/carrinho.js/"></script>
</head>
<body>
    <script src="/js/cliente/header.js/"></script>

    <main>
        <h1>Seu Carrinho</h1>

        <section class="cart-container">
            <!-- aqui é gerado dinamicamente pelo js -->
        </section>

        <div class="cart-summary">
            <h2>Total: <span>R$ --,--</span></h2>
            <button class="checkout-btn" type="submit" onclick="window.location.href='/pagar-carrinho'">Finalizar Compra</button>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".cart-item").forEach(item => {
                const decreaseBtn = item.querySelector(".decrease");
                const increaseBtn = item.querySelector(".increase");
                const quantitySpan = item.querySelector(".quantity span");

                decreaseBtn.addEventListener("click", function () {
                    let currentQuantity = parseInt(quantitySpan.textContent);
                    if (currentQuantity > 1) {
                        quantitySpan.textContent = currentQuantity - 1;
                    }
                });

                increaseBtn.addEventListener("click", function () {
                    let currentQuantity = parseInt(quantitySpan.textContent);
                    quantitySpan.textContent = currentQuantity + 1;
                });
            });
        });
        </script>


</body>
</html>
