<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Minha Conta - Livraria</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/conta.css"/>
    <link rel="stylesheet" href="/css/cliente/info.css/">
</head>
<body>
    <script src="/js/cliente/header.js/"></script>
    <div class="container">
        <nav class="menu">
            <button onclick="mostrarSecao('info')">Minha Conta</button>
            <button onclick="mostrarSecao('alterar')">Alterar Dados</button>
            <button onclick="mostrarSecao('endereco')">Novo Endereço</button>
            <button onclick="mostrarSecao('cartao')">Novo Cartão</button>
            <button onclick="mostrarSecao('pedidos')">Meus Pedidos</button>
            <button class="dashboard" onclick="window.location.href = '/dashboard'">Dashboard</button>
            <button onclick="openModal('modalConfirmarLogout')">Sair</button>
        </nav>
        
        <section class="conteudo">
            <div id="contaInfo"></div>
            <script src="/js/cliente/conta/info.js/"></script>

            <div id="contaAlterar"></div>
            <script src="/js/cliente/conta/alterar.js/"></script>

            <div id="contaEndereco"></div>
            <script src="/js/cliente/conta/endereco.js/"></script>

            <div id="contaCartao"></div>
            <script src="/js/cliente/conta/cartao.js/"></script>

            <div id="contaPedidos"></div>
            <script src="/js/cliente/conta/pedidos.js/"></script>

        </section>
    </div>

    <!-- Modal de Confirmação -->
    <div id="modalConfirmarLogout" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Confirmar Ação</h2>
            <p id="modalText">Deseja realmente sair da sua conta?</p>
            <div id="checkboxContainer" style="display: none;"></div>
            <br />
            <button onclick="logout();">Confirmar</button>
            <button onclick="closeModal('modalConfirmarLogout')">Cancelar</button>
        </div>
    </div>

    <script src="/js/cliente/conta/conta.js/"></script>

</body>
</html>
