<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../icon.png">
    <title>Minha Conta - Livraria</title>
    <link rel="stylesheet" href="css/livraria.css">
    <link rel="stylesheet" href="css/conta.css">
    <style>
        .zoomed {
            font-size: 0.7rem;
        }
        .zoomed .status-btn {
            font-size: 0.7rem; /* Diminui o tamanho dos botões também */
            padding: 3px 7px; /* Ajusta o padding para manter proporção */
        }
    </style>
</head>
<body>
    <script src="js/header.js"></script>
    <div class="container">
        <nav class="menu">
            <button onclick="mostrarSecao('info')">Minha Conta</button>
            <button onclick="mostrarSecao('alterar')">Alterar Dados</button>
            <button onclick="mostrarSecao('endereco')">Novo Endereço</button>
            <button onclick="mostrarSecao('cartao')">Novo Cartão</button>
            <button onclick="mostrarSecao('pedidos')">Meus Pedidos</button>
        </nav>
        
        <section class="conteudo">
            <div id="contaInfo"></div>
            <script src="js/info.js"></script>

            <div id="contaAlterar"></div>
            <script src="js/alterar.js"></script>

            <div id="contaEndereco"></div>
            <script src="js/endereco.js"></script>

            <div id="contaCartao"></div>
            <script src="js/cartao.js"></script>

            <div id="contaPedidos"></div>
            <script src="js/pedidos.js"></script>

        </section>
    </div>
    <script src="js/conta.js"></script>

</body>
</html>
