<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Livraria</title>
    <link rel="stylesheet" href="/css/cliente/livraria.css/">
    <link rel="stylesheet" href="/css/cliente/chatbot.css/">
    <script src="/js/marked.min.js/"></script>
</head>
<body>
    <script src="/js/cliente/header.js/">
    </script>
    

    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>
    </section>

    <section class="product-list" id="product-list">
        <!-- Os livros serão carregados aqui dinamicamente -->
    </section>
    
    <script src="/js/cliente/listarLivros.js/"></script>

    <script src="/js/cliente/chatbot.js/"></script>

    <script>
        let currentIndex = 0;

        function moveCarousel() {
            const container = document.querySelector('.carousel-container');
            const totalItems = document.querySelectorAll('.carousel-item').length;

            currentIndex = (currentIndex + 1) % totalItems;
            const translateX = -currentIndex * 100 + '%';

            container.style.transform = 'translateX(' + translateX + ')';
        }

        setInterval(moveCarousel, 3000); // Troca a imagem a cada 3 segundos
    </script>
</body>
</html>
