<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Página do Administrador</title>
    <link rel="stylesheet" href="/css/cliente/login.css/">
    <link rel="stylesheet" href="/css/cliente/header-pagamento.css/">
</head>
<body>
    <header>Com qual cliente deseja logar?</header>

    <div class="container">
        <div class="client-list" id="clientList"></div>
    </div>

    <script src="/js/cliente/login.js/">
    </script>
</body>
</html>
