<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Editar Endereço</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/formulario.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
    <link rel="stylesheet" href="/css/loading.css/">
</head>
<body>
    <div class="container">
        <h2>Atualização de Cartão</h2>
        <form id="cadastroCartaoForm">
            <h3>Edição de Cartão</h3>
    
            <label>Número do Cartão:</label>
            <input type="text" id="numeroCartao" required>
    
            <label>Nome Impresso:</label>
            <input type="text" id="nomeImpresso" required>
    
            <label>Bandeira:</label>
            <select id="bandeira" required>
                <option value="">Carregando...</option>
            </select>
    
            <label>Código de Segurança:</label>
            <input type="text" id="codigoSeguranca" required>
    
            <label>Tornar esse cartão preferencial?</label>
            <select id="preferencial" required>
                <option value="">Selecione</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
    
            <button type="submit">Salvar Alterações</button>
            <div class="botaoCancelar">
                <button type="button" onclick="cancelarCadastro()">Cancelar</button>
            </div>
        </form>
    </div>

    <div id="loader" class="loader">
        <img src="/img/loading.gif/" alt="Carregando...">
    </div>

    <script src="/js/cliente/gerenciar/editarCartao.js"></script>

    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
      </script>

</body>
</html>
