<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Controle do Estoque</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/tabelaTransacoes.css/">
    <link rel="stylesheet" href="/css/admin/estoque.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
    <link rel="stylesheet" href="/css/loading.css/">
</head>
<body>
    <a th:href ="@{/entrada-estoque}"><button class="new-client">Nova Entrada no Estoque</button></a>

    <div class="container">
        <h2>Controle do Estoque</h2>

        <h3>Itens em Estoque</h3>
        <table id="tabela-estoque">
            <thead>
                <tr>
                    <th>Livro</th>
                    <th>Qtde Em Estoque</th>
                    <th>Valor de Custo (R$)</th>
                    <th>Valor de Venda (R$)</th>
                    <th>Grupo de Precificação</th>
                    <th>Margem de Lucro (%)</th>
                    <th>Fornecedor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- As linhas vão ser inseridas aqui pelo JS -->
            </tbody>
        </table>
    </div>

    <div id="loader" class="loader">
        <img src="/img/loading.gif/" alt="Carregando...">
    </div>

    <script src="/js/admin/estoque/listarEstoque.js/">
    </script>

    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
        </script>
</body>
</html>
