<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Nova Entrada no Estoque</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/formulario.css/">
    <link rel="stylesheet" href="/css/admin/estoque.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
    <link rel="stylesheet" href="/css/loading.css/">
</head>
<body>
    <div class="container">
        <form id="entradaEstoqueForm">
            <h3>Nova Entrada no Estoque</h3>
    
            <label for="livro">Livro:</label>
            <select id="livro" required>
                <option value="">Selecione um livro</option>
            </select>
    
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" min="1" required>
    
            <label for="valorCusto">Valor de Custo (R$):</label>
            <input type="number" id="valorCusto" step="0.01" min="0.01" required>
    
            <label for="precificacao">Grupo de Precificação:</label>
            <select id="precificacao" required>
                <option value="">Selecione um Grupo de Precificação</option>
            </select>
    
            <label for="fornecedor">Fornecedor:</label>
            <select id="fornecedor" required>
                <option value="">Selecione um Fornecedor</option>
            </select>
    
            <button type="submit">Adicionar ao Estoque</button>
            <div class="botaoCancelar"><button type="submit" onclick="cancelar()">Cancelar</button></div>
        </form>
    </div>

    <div id="modalSucesso" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Sucesso!</h2>
            <p id="modalText">Entrada de estoque registrada com sucesso!</p>
            <div id="checkboxContainer" style="display: none;"></div>
            <br />
            <button onclick="window.location.href = '/estoque'">OK</button>
        </div>
    </div>

    <div id="loader" class="loader">
        <img src="/img/loading.gif/" alt="Carregando...">
    </div>

    <script src="/js/admin/estoque/novaEntradaEstoque.js/">
    </script>


    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
      </script>

</body>
</html>
