<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png/">
    <title>Análise</title>
    <link rel="stylesheet" href="/css/admin/menuAdmin.css/">
    <link rel="stylesheet" href="/css/admin/tabelaTransacoes.css/">
    <link rel="stylesheet" href="/css/admin/analise.css/">
    <link rel="stylesheet" href="/css/loading.css/">
    <link rel="stylesheet" href="/css/admin/sidebar-header.css/">
    <script src="/js/chart.min.js/"></script>
</head>
<body>
    <div class="container">
        <h2>Análise de Venda dos Livros</h2>

        <div class="selecao-produtos-categorias">
            <div class="selecao-produtos">
                <label>Selecione os Livros:</label>
                <div class="lista-checkbox" id="lista-livros">
                    <input type="text" placeholder="Pesquisar livro..." class="filtro-input" oninput="filtrarCheckboxes(this, 'lista-livros')">
                    <!-- Os checkboxes serão injetados aqui -->
                </div>
                
            </div>
            <div class="selecao-categorias">
                <label>Selecione as Categorias:</label>
                <div class="lista-checkbox" id="lista-categorias">
                    <input type="text" placeholder="Pesquisar categoria..." class="filtro-input" oninput="filtrarCheckboxes(this, 'lista-categorias')">
                    <!-- Os checkboxes serão injetados aqui -->
                </div>
                
            </div>
        </div>

        <div class="filter-container">
            <div class="filter-group">
                <label for="startDate">Do dia:</label>
                <input type="date" id="startDate">
            </div>
            <div class="filter-group">
                <label for="endDate">Até o dia:</label>
                <input type="date" id="endDate">
            </div>
            <button onclick="gerarGrafico()">Pesquisar</button>
        </div>

        <canvas id="graficoVendas"></canvas>    
    </div>

    <div id="loader" class="loader">
        <img src="/img/loading.gif/" alt="Carregando...">
    </div>

    <script src="/js/admin/analise.js/">
    </script>
    
    <script type="module">
        import { loadSidebar } from '/js/admin/sidebar-header.js';
        loadSidebar();
      </script>
</body>
</html>
