<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../icon.png">
    <title>Gerenciamento de Vendas</title>
    <link rel="stylesheet" href="../css/menuAdmin.css">
    <link rel="stylesheet" href="../css/tabelaTransacoes.css">

</head>
<body>
	<header>
			<a th:href="@{/administrador/admin}"><img src="/img//home.png" alt="home" class="header-logo"></a>
			Página do Administrador
	</header>
    <div class="container">
        <h2>Gerenciamento de Vendas</h2>
        <div class="filters">
            <input type="text" id="codigo" placeholder="Código do Pedido">
        </div>
        <div class="filters">
            <button id="pesquisar">Pesquisar</button>
        </div>

        <!-- Lista dinâmica de pedidos -->
        <div id="listaPedidos" class="pedido-list"></div>
        <div id="mensagem" class="mensagem-erro" style="color: rgb(0, 31, 4); margin-top: 10px;"></div>

        <!-- Modal de Tabela de Pedido -->
        <div id="modalTabela" class="modal-tabela">
        <div class="modal-tabela-content">
            <span class="close" onclick="closeModal('modalTabela')">&times;</span>
            <h2 id="tituloPedido">Pedido</h2>
            <p><strong>Cliente:</strong> <span id="modalNome"></span></p>
            <p><strong>Data:</strong> <span id="modalData"></span></p>
            <!-- <p><strong>Valor Total:</strong> <span id=""></span></p> -->
            <p><strong>Forma de Pagamento:</strong> <span id="modalPagamento"></span></p>
            <p><strong>Endereço de Entrega:</strong> <span id="modalEndereco"></span></p>

            <!-- <table class="optional-table">
                <tr>
                    <th>Status Geral</th>
                    <th>Ações</th>
                </tr>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
            </table> -->
            
            <table id="tabelaPedido">
            <thead>
                <tr>
                <th>Foto</th>
                <th>Livro</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Status</th>
                <th>Ações</th>
                </tr>
            </thead>
            <tbody id="corpoTabelaPedido">
                <!-- Preenchido dinamicamente via JS -->
            </tbody>
            </table>
        </div>
        </div>

        <!-- Modal de Confirmação -->
        <div id="modalConfirmacao" class="modal">
        <div class="modal-content">
            <h2>Confirmar Ação</h2>
            <p id="modalText"></p>
            <div id="checkboxContainer" style="display: none;">
            <input type="checkbox" id="retornaEstoque">
            <label for="retornaEstoque">Retornar itens ao estoque</label>
            </div>
            <br />
            <button id="confirmarBtn">Confirmar</button>
            <button onclick="fecharModal()">Cancelar</button>
        </div>
        </div>

        <!-- Script -->
        <script src="gerenciarVendas.js"></script>
        
</body>
</html>
