.new-client {
    background-color: rgb(255, 243, 73);
    color: black;
}

.client-item {
    background-color: rgba(255, 251, 0, 0.185);
}

.client-actions button {
    background-color: rgba(255, 251, 0, 0.185);
}
