body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Mantém o texto centralizado */
    z-index: 1000;
}
a {
    display: flex;
    align-items: center; /* Garante o alinhamento do link */
    text-decoration: none; /* Opcional: remove o sublinhado do link */
    color: white; /* Garantir que o texto do link seja visível */
    font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
    margin-left: 10px; /* Se quiser um pequeno espaço entre o logo e o link */
}
.header-logo {
    position: absolute;
    left: 20px; /* Define a posição da imagem à esquerda */
    height: 40px; /* Ajuste conforme necessário */
}
.container {
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center; /* Centraliza os itens horizontalmente */
    max-width: 60%; /* Define um tamanho máximo para os filtros */
    width: 100%; /* Garante que ele não ultrapasse o tamanho máximo */
}

input, button {
    padding: 10px;
    font-size: 16px;
}
.client-list {
    width: 100%;
}
.client-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.client-info {
    display: flex;
    flex-direction: column;
}

.client-name {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.client-details {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.client-actions button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.new-client {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(0, 164, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    display: none; /* Agora começa invisível */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}


/* Conteúdo do Modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left; /* Alinhamento à esquerda */
}

.modal-content button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Garante que os botões fiquem um abaixo do outro */
    margin-bottom: 10px; /* Adiciona espaçamento apenas entre os botões */
}

.modal-content button:hover {
    transition: 0.2s;
    background-color: #1a1a1a;
}

/* Botão de Fechar */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.accordion {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #ddd;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    border-left: 2px solid #ddd;
    margin-bottom: 10px;
}