body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(16, 0, 78, 0.315);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #000222;
    color: rgb(255, 255, 255);
}
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.filter-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.processando { background-color: rgb(196, 101, 0); color: white; }
.transito { background-color: rgb(55, 48, 192); color: white; }
.entregue { background-color: rgb(0, 159, 0); color: white; }
.troca { background-color: rgb(211, 0, 0); color: white; }