<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.png">
    <title>Início</title>
    <link rel="stylesheet" href="administrador/css/initialMenu.css">
</head>
<body>
    <header>
        <h2>Deseja entrar no sistema como:</h2>
    </header>
    <div class="buttons">
        <a href="/cliente/login"><button>Cliente</button></a>
        <a href="/administrador/admin"><button>Administrador</button></a>        
    </div>
</body>
</html>
