
.container {
    display: flex;
    width: 95%;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.menu {
    width: 250px;
    background: #010012;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.menu button:hover {
    background: #22213e;
}

.menu .dashboard {
    color: white;
    transition: all 0.4s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.menu .dashboard::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, #ffffff33 0%, transparent 70%);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.menu .dashboard:hover {
    background: linear-gradient(135deg, #5029ff, #8629ff);
    color: #fff;
    box-shadow: 0 0 20px #4015ff, 0 0 40px #6f15ff, 0 0 60px #8215ff;
    transform: scale(1.05);
}

.menu .dashboard:hover::before {
    opacity: 1;
}


.conteudo {
    flex: 1;
    padding: 20px;
}

.secao {
    display: none;
}

.secao.ativa {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #4a4863;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #010012;
    color:white;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.conteudo button:not(.status-btn) {
    background-color: #010012;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    display: block; /* Garante que os botões fiquem um abaixo do outro */
    margin-bottom: 10px; /* Adiciona espaçamento apenas entre os botões */
}

.conteudo button:not(.status-btn):hover {
    background: #22213e;
}

.modal {
    display: none; /* Agora começa invisível */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Conteúdo do Modal */
.modal-content {
    max-height: 70vh; /* Define a altura máxima como 70% da tela */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical quando necessário */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left; /* Alinhamento à esquerda */
}

.modal-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.modal-content::-webkit-scrollbar-thumb {
    background: #000222;
    border-radius: 20px;
}
.modal-content::-webkit-scrollbar-track {
    background: #00022225;
}

.modal-content button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Garante que os botões fiquem um abaixo do outro */
    margin-bottom: 10px; /* Adiciona espaçamento apenas entre os botões */
}

.modal-content button:hover {
    transition: 0.2s;
    background-color: #1a1a1a;
}

/* Botão de Fechar */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.accordion {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.4s;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #ddd;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 18px;
    background-color: white;
    border-left: 2px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Estilização dos inputs */
.formulario input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 40px; /* Mantém todos com a mesma altura */
    box-sizing: border-box;
}

/* Ajustando textarea */
textarea {
    resize: none;
    height: 60px;
}

/* Efeito ao focar nos campos */
input:focus, select:focus, textarea:focus {
    border-color: #1e1e2f;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 30, 47, 0.3);
}

.form-group input,
.form-group select {
    width: 100%;
    height: 40px; /* Mantém todos com a mesma altura */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que padding aumente o tamanho total */
}

.status-btn {
    all: unset;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.status-cell{
    min-width: 160px;
}

.processando { background-color: rgb(196, 101, 0); color: white; }
.transito { background-color: rgb(33, 24, 212); color: white; }
.entregue { background-color: rgb(0, 159, 0); color: white; }
.troca { background-color: #5900ff; color: white; }
.devolucao { background-color: #2d1070; color: white; }
.aprovado { background-color: rgb(11, 184, 115); color: white; }
.reprovado { background-color: rgb(211, 0, 0); color: white; }
.indefinido { background-color: rgb(112, 112, 112); color: white; }

.pedido-list {
    width: 100%;
}

.pedido-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7cffa85a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pedido-info {
    display: flex;
    flex-direction: column;
}

.pedido-name {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.pedido-details {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.pedido-actions button {
    background-color: #d1ffdf;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-tabela {
    display: none; /* Agora começa invisível */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Conteúdo do Modal */
.modal-tabela-content {
    max-height: 70vh; /* Define a altura máxima como 70% da tela */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical quando necessário */
    background-color: white;
    padding: 20px;
    max-width: 150vh;
    border-radius: 8px;
    text-align: left; /* Alinhamento à esquerda */
}

.modal-tabela-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.modal-tabela-content::-webkit-scrollbar-thumb {
    background: #000222;
    border-radius: 20px;
}
.modal-tabela-content::-webkit-scrollbar-track {
    background: #00022225;
}

.zoomed {
    font-size: 0.7rem;
}
.zoomed .status-btn {
    font-size: 0.7rem; /* Diminui o tamanho dos botões também */
    padding: 3px 7px; /* Ajusta o padding para manter proporção */
}

.selecao-produtos-categorias {
    display: flex;
    gap: 20px; /* Espaço entre os grupos */
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.selecao-produtos-categorias label{
    font-weight: bold;
}

.selecao-produtos, .selecao-categorias {
    flex: 1; /* Ocupa espaço de forma equilibrada */
    min-width: 250px; /* Evita que fiquem muito estreitos */
}

.lista-checkbox {
    display: flex;
    flex-direction: column;
    max-height: 150px; /* Limita a altura */
    overflow-y: auto; /* Ativa rolagem vertical caso tenha muitos itens */
    max-width: 290px;
    overflow-x: auto; /* Ativa rolagem horizontal caso os títulos sejam longos */
    border: 1px solid #abafb1;
    padding: 10px;
    border-radius: 5px;
    background-color: #f6fbffcf;
    white-space: nowrap; /* Impede quebra de linha */
}

.lista-checkbox::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.lista-checkbox::-webkit-scrollbar-thumb {
    background: #000222;
    border-radius: 20px;
}
.lista-checkbox::-webkit-scrollbar-track {
    background: #00022225;
}

.lista-checkbox label{
    font-weight: normal;
    display: block; /* Faz com que cada checkbox fique numa linha separada */
    white-space: nowrap; /* Mantém o texto em uma única linha */
    overflow: visible; /* Impede que o texto ultrapasse os limites do contêiner */
}

.pedido-list {
    width: 100%;
}

.pedido-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7cffa85a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pedido-info {
    display: flex;
    flex-direction: column;
}

.pedido-name {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.pedido-details {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.pedido-actions button {
    background-color: #d1ffdf;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-tabela {
    display: none; /* Agora começa invisível */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-tabela img{
    height: 75px;
    width: 75px;
    object-fit: contain;
    border-radius: 5px;
}

/* Conteúdo do Modal */
.modal-tabela-content {
    max-height: 70vh; /* Define a altura máxima como 70% da tela */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical quando necessário */
    background-color: white;
    padding: 20px;
    max-width: 150vh;
    border-radius: 8px;
    text-align: left; /* Alinhamento à esquerda */
}

.modal-tabela-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.modal-tabela-content::-webkit-scrollbar-thumb {
    background: #000222;
    border-radius: 20px;
}
.modal-tabela-content::-webkit-scrollbar-track {
    background: #00022225;
}

.expandable-row {
    cursor: pointer;
    background-color: #eefcff;
    transition: background 0.2s ease-in-out;
}
.expandable-row:hover {
    background-color: #dbf6ff;
}

.sub-rows {
    background-color: #f7f7f7;
    padding: 0 0;
}

.sub-row-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 0;
}

.sub-rows.collapsed-style > td {
    padding: 0;
    margin: 0;
    border: none;
}

.sub-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.sub-table th,
.sub-table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 0.85rem;
}

.sub-table th{
    background-color: #5900ff;
}

.zoomed {
    font-size: 0.7rem;
}
.zoomed .status-btn {
    font-size: 0.7rem; /* Diminui o tamanho dos botões também */
    padding: 3px 7px; /* Ajusta o padding para manter proporção */
}

.filtros-container {
    display: flex;
    flex-direction: column; /* ou 'row' se quiser lado a lado */
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* espaçamento opcional */
}

.filters {
    margin: 3px;
}

.filters input {
    width: 100%;
    max-width: 280px;
    padding: 10px 14px;
    box-sizing: border-box;
    border: 2px solid rgba(79, 70, 229, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.filters input:focus {
    border-color: #4f46e5; /* Um roxo bonito */
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2); /* Glow leve ao focar */
    background-color: #fff;
}



.optional-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.optional-table th,
.optional-table td {
    padding: 5px;
    border: 0px solid #ccc;
    text-align: center;
    font-size: 0.85rem;
}

.optional-table th{
    background-color: #030303
}

.optional-table tr{
    background-color: #e4faff
}
